{
  "env": {
    "development": {
      "plugins": [
        "flow-react-proptypes"
      ]
    }
  },
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}