  {
    "presets": [
      [
        "es2015"
      ],
      "react"
    ],
    "env": {
      "development": {
        "plugins": [
          "flow-react-proptypes"
        ]
      }
    },
    "plugins": [
      "transform-flow-strip-types",
      "transform-decorators-legacy",
      "transform-class-properties"
    ]
  }